.profile{
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: cadetblue;
}

.infoBlock{
    display: flex;
    flex-direction: row;
    background-color: chocolate;
}

.textBlock{
    display: flex;
    flex-direction: column;
}